table {
  /* border: 1px solid #000; */
  border-collapse: collapse;
}

td,th {
  padding: 10px 15px;
  border: 1px solid #000; 
  margin: 0;
}

a+a{ margin-left: 10px;}


.highlight-red, .highlight-red:focus,.highlight { outline: 0; border-width:  3px; }

.highlight-green, .highlight-green:focus { outline: 0; border-width:  3px;}

.background { background-color: yellow;} 



