<div>
  <form #signupForm="ngForm" (ngSubmit)="signUp()">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Name</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="fullName" required ngModel>
            </div>
            <div class="col-md-12">
              <div class="error" *ngIf="signupForm.form.controls['fullName']?.invalid && signupForm.form.controls['fullName']?.errors?.['required'] && (signupForm.form.controls['fullName']?.dirty || signupForm.form.controls['fullName']?.touched)">
                Please provide a name.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="email" required email ngModel>
            </div>
            <div class="col-md-12">
              <div class="error" *ngIf="signupForm.form.controls['email']?.invalid && signupForm.form.controls['email']?.errors?.['required'] && (signupForm.form.controls['email']?.dirty || signupForm.form.controls['email']?.touched)">
                Please provide email address.
              </div>
              <div class="error" *ngIf="signupForm.form.controls['email']?.invalid && signupForm.form.controls['email']?.errors?.['email'] && (signupForm.form.controls['email']?.dirty || signupForm.form.controls['email']?.touched)">
                Please provide a valid email address.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Password</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" name="password" required ngModel>
            </div>
            <div class="col-md-12">
              <div class="error" *ngIf="signupForm.form.controls['password']?.invalid && signupForm.form.controls['password']?.errors?.['required'] && (signupForm.form.controls['password']?.dirty || signupForm.form.controls['password']?.touched)">
                Please provide a valid password.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Confirm Password</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" name="confirmPassword" appPasswordvalidator="password"
              required ngModel>
            </div>
            <div class="col-md-12">
              <div class="error" *ngIf="signupForm.form.controls['confirmPassword']?.invalid && signupForm.form.controls['confirmPassword']?.errors?.['required'] && (signupForm.form.controls['confirmPassword']?.dirty || signupForm.form.controls['confirmPassword']?.touched)">
                Please provide a valid confirmPassword
              </div>
              <div class="error" *ngIf="signupForm.form.controls['confirmPassword']?.invalid && signupForm.form.controls['confirmPassword']?.errors?.['passwordMatchError'] && (signupForm.form.controls['confirmPassword']?.dirty || signupForm.form.controls['confirmPassword']?.touched)">
                confirmPassword password should be same as password
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Gender</label>
            <div class="col-sm-6">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="genderRadio" name="inlineRadioOptions" id="male" value="male" required ngModel>
                <label class="form-check-label" for="male">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [(ngModel)]="genderRadio" name="inlineRadioOptions" id="female" value="female" required ngModel>
                <label class="form-check-label" for="female">Female</label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="error" *ngIf="signupForm.form.controls['inlineRadioOptions']?.invalid && signupForm.form.controls['inlineRadioOptions']?.errors?.['required'] && (signupForm.form.controls['inlineRadioOptions']?.dirty || signupForm.form.controls['inlineRadioOptions']?.touched)">
                Please select gender
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">country</label>
            <div class="col-sm-6">
              <select class="form-control" id="country" [(ngModel)]="countrySelect" name="country" required ngModel>
                <option value="1">India</option>
                <option value="2">USA</option>
                <option value="3">England</option>
                <option value="4">Singapore</option>
              </select>
            </div>
            <div class="col-md-12">
              <div class="error" *ngIf="signupForm.form.controls['country']?.invalid && signupForm.form.controls['country']?.errors?.['required'] && (signupForm.form.controls['country']?.dirty || signupForm.form.controls['country']?.touched)">
                Please select country
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <input type="submit" value="Sign Up" [disabled]="signupForm.invalid" class="btn btn-primary">
      <input type="button" value="Reset" (click)="reset()" class="btn btn-primary">
    </div>
  </form>
</div>
